{% extends "base.html" %}
{% block title %}Lista de Noticias | Python Granada{% endblock %}
{% block content %}
  <div class="row">
    <div class="s12 center">
      <h2>Lista de Noticias</h2>
    </div>
  </div>
  {% for noticia in noticias  %}
  <div class="row">
    <div class="card horizontal col s12 l6 offset-l3">
      <div class="card-stacked">
        <div class="card-content">
          <p><strong>{{noticia.nombre}}</strong> - {{noticia.fecha}}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'ndetail' noticia.slug %}">Más Información</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
