/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.facebook{
  color: #0d47a1;
}

#logo-container{
  margin-top: 0.1em;
}

.svg-class svg {
    fill: white;
}
