{% load staticfiles %}<div class="row">
  <div class="col s12 center-align">
    <h4>NUESTROS COLABORADORES</h4>
    <p>Organizaciones y empresas que colaboran con nosotros para hacer Python Granada posible.</p>
  </div>
</div>

<div class="row hide-on-med-and-down">
  <div class="col s12 m2 offset-m4">
    <a href="http://www.ugr.es/"><img class="responsive-img" src="{% static "icons/ugr.png" %}" alt="" /></a>
  </div>
  <div class="col s12 m2">
    <a href="http://osl.ugr.es/"><img class="responsive-img" src="{% static "icons/osl.png" %}" alt="" /></a>
  </div>
</div>

<div class="row hide-on-large-only">
  <div class="col s12 center-align">
    <a href="http://www.ugr.es/"><img class="responsive-img" src="{% static "icons/ugr.png" %}" alt="" /></a>
  </div>
  <div class="col s12 center-align">
    <a href="http://osl.ugr.es/"><img class="responsive-img" src="{% static "icons/osl.png" %}" alt="" /></a>
  </div>
</div>
