{% extends "base.html" %}
{% block title %}
  Cookies | Python Granada
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>Política de Cookies</h2>
<p>
La reciente modificación normativa en materia de publicidad y gestión del
consentimiento para la utilización de cookies, píxeles u otros elementos
de almacenamiento de información conlleva la obligación de los sitios
web a adaptarse a la nueva normativa sobre cookies de
la <a href="http://noticias.juridicas.com/base_datos/Admin/l34-2002.html">
Ley 34/2002,
de servicios de la sociedad de la información y comercio electrónico</a>.
La descarga de este tipo de elementos, suponen la capacidad para recopilar
información de la actividad del usuario y tiene implicaciones en
relación con su privacidad.Por ello, la nueva normativa impone la
obligación de obtener el consentimiento informado de los usuarios
para aceptar la utilización de cookies en los sitios web.
</p>
<h3>¿Qué es una cookie?</h3>
<p>Las cookies son pequeño ficheros que se descarga en tu ordenador cuando
navegas por sitios web. Un ejemplo sencillo sería cuando entras en la
página de una cuenta de correo electrónico web como Gmail,
Outlook o Yahoo Mail.</p>
<p>Las cookies permiten a un sitio web reconocer el navegador de un usuario
y <strong>no contienen ni recopilan información</strong>. Se usan,
por ejemplo, para mantener en usuario autenticado en una cuenta como las
anteriores sin que sea necesario que se autentique cada vez que acceda
a su cuenta.</p>
<p>Utilizamos los siguientes tipos de cookies:</p>
<p><strong>Cookies de primeras partes:</strong> son cookies
estrictamente necesarias. Permiten la interactuación del usuario por el
sitio web utilizando todas sus funciones. (Duración entre 23 días y 12 meses).</p>
<p><strong>Cookies de rendimiento y análisis:</strong> son cookies
utilizadas para el análisis y estadísticas que mejoran la experiencia
del sitio web. Mediante el uso de estas cookies se puede mostrar
información más relevante a los visitantes. (Duración entre 100 días y 2 años).</p>
<p>Así mismo, Google Analytics habilita en el dominio del sitio web ciertas cookies.
El objetivo es recopilar estadísticas: el número de visitas,
el período de consultas, el buscador utilizado para acceder al sitio web,
las palabras clave utilizadas, la ubicación global del visitante,
los contenidos visitados en el sitio web, así como otros parámetros
del tráfico en el sitio web, siempre desde el anonimato.</p>
<p>Google almacena esta información recogida por las cookies de manera que no
se identifica a ningún usuario. Tampoco se asocia su dirección de IP con
cualquier otra información de la que disponga. Además, Google Inc es una
empresa que se encuentra adherida al Acuerdo de Puerto Seguro. Dicho acuerdo
garantiza que los datos transferidos serán tratados conforme a los niveles de
protección de la normativa europea. Para obtener más información acerca de
Google Analytics puede dirigirse al <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es-ES">siguiente enlace</a>.</p>
<p>A partir de la opción que tome acerca del uso de cookies en este sitio web,
se le enviará una cookie adicional para salvaguardar su elección y que no
tenga que aceptar el uso de cookies cada vez que acceda al Sitio Web de wildunix.com.</p>
<h3>¿Cómo desactivar las cookies?</h3>
<p>Todos los navegadores permiten hacer cambios que permiten desactivar la configuración de las cookies. Estos ajustes se encuentran ubicados en las “opciones” o “preferencias” del menú de su navegador.
A continuación te dejamos los enlaces con instrucciones para diferentes navegadores donde verás cómo deshabilitar las cookies.</p>
<p>No obstante, recuerda que inhabilitar cookies implica perder funcionalidad en muchos sitios web.</p>
<ul>
<li>Instrucciones para <a href="https://support.microsoft.com/es-es/kb/196955">Internet Explorer</a></li>
<li>Instrucciones para <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies">Mozilla Firefox</a></li>
<li>Instrucciones para <a href="https://support.google.com/chrome/answer/95647?hl=en">Google Chrome</a></li>
<li>Instrucciones para <a href="https://support.apple.com/kb/PH21411?locale=es_ES">Safari</a></li>
</ul>
<p>Si desea no ser rastreado por las cookies, Google ha desarrollado un complemento para instalar en su navegador al que puede acceder en el <a href="https://tools.google.com/dlpage/gaoptout">siguiente enlace</a>.</p>
      </div>
    </div>
  </div>
{% endblock %}
