{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block title %}Python Granada{% endblock %}

{% block content %}

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center">Su acción se ha completado con éxito</h1>
    <div class="row center">
      <h5 class="header col s12 light">Pronto nos pondremos en contacto con usted.</h5>
      <h5 class="header col s12 light">Puede volver a la página principal desde la barra superior o haciendo click <a href="/" >aquí</a></h5>
    </div>
  </div>
</div>
{% endblock %}
